<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">

      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- customer form group -->
        <div formGroupName="customer" class="form-area">
          <h3>Cumparator</h3>

          <div class="row">
            <div class="col-md-2"> <label>Nume</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text">

                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="firstName.errors.required">
                    Completati numele
                  </div>

                  <div *ngIf="firstName.errors.minlength">
                    Numele trebuie sa contina minim 2 litere
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Prenume</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text">

                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="lastName.errors.required">
                    Completati prenumele
                  </div>

                  <div *ngIf="lastName.errors.minlength">
                    Prenumele trebuie sa contina minim 2 litere
                  </div>

                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Email</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">

                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">

                  <div *ngIf="email.errors.required">
                    Completati adresa de email
                  </div>

                  <div *ngIf="email.errors.pattern">
                    Adresa nu este valida
                  </div>

                </div>

              </div>
            </div>
          </div>

        </div>

        <!-- shipping Address -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Adresa de livrare</h3>

          <div class="row">
            <div class="col-md-2"> <label>Tara</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('shippingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>

                <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressCountry.errors.required">
                    Adaugati tara
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Strada</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">

                <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlyWhitespace">
                    Adaugati strada
                  </div>
                  <div *ngIf="shippingAddressStreet.errors.minlength">
                    Trebuie sa contina minim 2 caractere
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-2"> <label>Oras</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">

                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlyWhitespace">
                    Adaugati orasul
                  </div>
                  <div *ngIf="shippingAddressCity.errors.minlength">
                    Trebuie sa contina minim 2 caractere
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Judet/Provincie</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                    {{ state.name }}
                  </option>
                </select>

                <div *ngIf="shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="shippingAddressState.errors.required">
                    Completati judetul/provincia!
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Cod postal</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text">

                <div *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressZipCode.errors.required || billingAddressZipCode.errors.notOnlyWhitespace">
                    Completati codul postal
                  </div>

                  <div *ngIf="billingAddressZipCode.errors.minlength">
                    Trebuie sa contina minim 2 caractere
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>



        <!-- Add check box to copy shipping to billing -->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
            <span class="au-checkmark"></span>Adresa de facturare identica cu cea de livrare
          </label>
        </div>


        <!-- Billing Address -->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Adresa de facturare</h3>

          <div class="row">
            <div class="col-md-2"> <label>Tara</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country" (change)="getStates('billingAddress')">
                  <option *ngFor="let country of countries" [ngValue]="country">
                    {{ country.name }}
                  </option>
                </select>

                <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressCountry.errors.required">
                    Completati tara
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Strada</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">

                <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressStreet.errors.required || billingAddressStreet.errors.notOnlyWhitespace">
                    Completati strada
                  </div>
                  <div *ngIf="billingAddressStreet.errors.minlength">
                    Trebuie sa contina minim 2 caractere
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Oras</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">

                <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.notOnlyWhitespace">
                    Completati orasul
                  </div>
                  <div *ngIf="billingAddressCity.errors.minlength">
                    Trebuie sa contina minim 2 caractere
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Judet/Provincie</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                    {{ state.name }}
                  </option>
                </select>

                <div *ngIf="billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressState.errors.required">
                    Completati Judet/Provincie
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Cod postal</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text">

                <div *ngIf="billingAddressZipCode.invalid && (billingAddressZipCode.dirty || billingAddressZipCode.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="billingAddressZipCode.errors.required || billingAddressZipCode.errors.notOnlyWhitespace">
                    Completati codul postal
                  </div>

                  <div *ngIf="billingAddressZipCode.errors.minlength">
                    Trebuie sa contina minim 2 caractere
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>

        <!-- Credit Card -->
        <div formGroupName="creditCard" class="form-area">
          <h3>Card de credit</h3>

          <div class="row">
            <div class="col-md-2"> <label>Card Type</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>Mastercard</option>
                </select>

                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardType.errors.required">
                    Adaugati tipul cardului
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Numele de pe card</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text">

                <div *ngIf="creditCardNameOnCard.invalid && (creditCardNameOnCard.dirty || creditCardNameOnCard.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardNameOnCard.errors.required || creditCardNameOnCard.errors.notOnlyWhitespace">
                    Adaugati numele de pe card
                  </div>

                  <div *ngIf="creditCardNameOnCard.errors.minlength">
                    Trebuie sa contina minim 2 caractere
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Numarul cardului</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text">

                <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardNumber.errors.required">
                    Completati numarul cardului
                  </div>
                  <div *ngIf="creditCardNumber.errors.pattern">
                    Numarul trebuie sa contina 16 cifre
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Cod securitate</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text">

                <div *ngIf="creditCardSecurityCode.invalid && (creditCardSecurityCode.dirty || creditCardSecurityCode.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="creditCardSecurityCode.errors.required">
                    Completati codul de securitate
                  </div>
                  <div *ngIf="creditCardSecurityCode.errors.pattern">
                    Codul de securitate trebuie sa contina 3 cifre
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Luna expirarii</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let month of creditCardMonths">
                    {{ month }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> <label>Anul expirarii</label></div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                  <option *ngFor="let year of creditCardYears">
                    {{ year }}
                  </option>
                </select>
              </div>
            </div>
          </div>

        </div>

        <!-- Order details -->
        <div class="form-area">
          <h3>Sumarul comenzii</h3>

          <p>Cantitate totala: {{ totalQuantity }}</p>
          <p>Livrare gratuita!</p>
          <p>Pret total: {{ totalPrice | currency: 'RON  ' }}</p>
        </div>

        <!-- submit button-->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Cumpara</button>
        </div>

      </form>

    </div>
  </div>
</div>
